<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="org.leakcanary">

  <application
    android:allowBackup="true"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_rules"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:name=".LeakCanaryApp"
    android:theme="@style/Theme.MyApplication"
    tools:targetApi="31">
    <activity
      android:name=".MainActivity"
      android:exported="true"
      android:label="@string/app_name"
      android:theme="@style/Theme.MyApplication">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <meta-data
        android:name="android.app.lib_name"
        android:value="" />
    </activity>

    <service
      android:name="org.leakcanary.service.LeakUiAppService"
      android:exported="true">
      <!-- TODO Double check this is the right setup.-->
      <!-- TODO Probs use $applicationId in package name instead.-->
      <intent-filter>
        <action android:name="org.leakcanary.internal.LeakUiApp" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </service>
  </application>

</manifest>
