<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2015 Square, Inc.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.squareup.leakcanary.core"
    >

  <!-- To store the heap dumps and leak analysis results. -->
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <!-- To allow starting foreground services on Android P+ - https://developer.android.com/preview/behavior-changes#fg-svc -->
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

  <application>
    <provider
        android:name="leakcanary.internal.LeakCanaryFileProvider"
        android:authorities="com.squareup.leakcanary.fileprovider.${applicationId}"
        android:exported="false"
        android:grantUriPermissions="true"
        >
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/leak_canary_file_paths"/>
    </provider>

    <activity
        android:name="leakcanary.internal.activity.LeakActivity"
        android:icon="@mipmap/leak_canary_icon"
        android:label="@string/leak_canary_display_activity_label"
        android:taskAffinity="com.squareup.leakcanary.${applicationId}"
        android:theme="@style/leak_canary_LeakCanary.Base"
        />

    <activity-alias
        android:name="leakcanary.internal.activity.LeakLauncherActivity"
        android:enabled="@bool/leak_canary_add_launcher_icon"
        android:icon="@mipmap/leak_canary_icon"
        android:banner="@drawable/leak_canary_tv_icon"
        android:label="@string/leak_canary_display_activity_label"
        android:targetActivity="leakcanary.internal.activity.LeakActivity"
        android:taskAffinity="com.squareup.leakcanary.${applicationId}"
        android:theme="@style/leak_canary_LeakCanary.Base"
        >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
        <!-- Android TV launcher intent -->
        <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
      </intent-filter>
    </activity-alias>

    <activity
        android:name="leakcanary.internal.RequestStoragePermissionActivity"
        android:excludeFromRecents="true"
        android:icon="@mipmap/leak_canary_icon"
        android:label="@string/leak_canary_storage_permission_activity_label"
        android:taskAffinity="com.squareup.leakcanary.${applicationId}"
        android:theme="@style/leak_canary_Theme.Transparent"
        />

    <receiver android:name="leakcanary.internal.NotificationReceiver" />

  </application>
</manifest>
