name: Main
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  checks:
    runs-on: macos-latest
    steps:

      - name: Project Checkout
        uses: actions/checkout@v2

      - name: Setup JDK 1.8
        uses: actions/setup-java@v2
        with:
          java-version: 8
          distribution: 'zulu'

      - name: Build project
        run: ./gradlew build --stacktrace

      - name: Assemble Test APK
        run: ./gradlew assembleAndroidTest --stacktrace

      - name: Espresso Checks
        uses: reactivecircus/android-emulator-runner@v2.14.3
        with:
          api-level: 16
          script: ./gradlew leakcanary-android-core:connectedCheck leakcanary-android-instrumentation:connectedCheck --stacktrace

  snapshot-deployment:
    if: github.repository == 'square/leakcanary' && github.event_name == 'push'
    needs: [checks]
    runs-on: ubuntu-latest
    steps:

      - name: Project Checkout
        uses: actions/checkout@v2

      - name: Setup JDK 1.8
        uses: actions/setup-java@v2
        with:
          java-version: 8
          distribution: 'zulu'

      - name: Deploy snapshot
        run: ./gradlew publish
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.SONATYPE_NEXUS_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.SONATYPE_NEXUS_PASSWORD }}

      - name: Cleanup secrets
        if: always()
        run: rm -rf ~/.gradle/gradle.properties
